.env.*

.env

images/

node_modules/

*.log

# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

image_processing/

key.json

.DS_Store